<div class="container address">
  <div class="row">
    <div class="col">
      <h4 class="my-5">本当に退会しますか？</h4>
      <table>
        <tr><td>退会すると、会員登録情報や</td></tr>
        <tr><td>これまでの購入履歴が閲覧できなくなります。</td></tr>
        <tr><td>退会する場合は、「退会する」をクリックしてください。</td></tr>
        <tr><td><%= link_to "退会しない", public_publicer_path(current_public.id), :class => "btn btn-primary ms-3" %></td>
        <td><%= link_to "退会する", public_publicers_withdraw_path, method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %></td></tr>
      </table>
    </div>
  </div>
</div>