<div class="container p-3">
  <div class="row">


   <div class="col-md-12 text-center">
    <h3 class="thank_you">Thank you <i class="fa-solid fa-hand-holding-heart"></i></h3>

  </div>


  </div>
</div>